* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 130px;
    width: 100%;
    margin-top: 0%;
    text-align: center;
    background-image: linear-gradient(to left bottom, #4642b1, #4c56bd, #5569c9, #617cd3, #6f8fdc, #679fe6, #64afee, #66bef3, #54cdf4, #52dbef, #64e7e5, #82f2d9);
}

#derecha {
    background: url(../img/churros2.png) repeat-y;
    background-size: 80px;
    background-position: right;
}

#izquierda {
    background: url(../img/churros2.png) repeat-y;
    background-size: 80px;
    background-position: left;
}

nav {
    width: 100%;
    height: 100px;
    text-align: center;
    position: center;
    font-size: 22px;
    background-color: white;
}

a {
    text-decoration: none;
    background-image: radial-gradient(circle at 50% -20.71%, #fffff4 0, #f6fff0 8.33%, #ecffec 16.67%, #e1ffe8 25%, #d4fce4 33.33%, #c5f7e1 41.67%, #b5f2de 50%, #a4eddd 58.33%, #93e8dd 66.67%, #83e3de 75%, #74dee1 83.33%, #65dae5 91.67%, #59d6e9 100%);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 6px;
    transition: background-size .5s;
}

#imagen {
    background-position: center;
}

a:hover,
a:focus {
    background-size: 100% 10px;
}

html {
    font-size: 30px;
}

body {
    background-image: linear-gradient(to right bottom, #18458a, #4768a6, #708dc2, #99b4df, #c5dbfb);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 55px;
    color: white
}

h2 {
    text-align: center;
    font-size: 450;
}

h3 {
    text-align: center;
    font-size: 30;
    color: white;
}

h4 {
    text-align: center;
    font-size: 21px;
    color: rgb(0, 0, 0)
}

h5 {
    text-align: center;
    font-size: 20;
    color: white;
}

p {
    text-align: center;
}

br {
    text-align: center;
}

footer {
    background-color: #18458a;
    height: 50px;
    width: 100%;
}